<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" media="screen,projection" />
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <title>Módulo Análisis Estadistico</title>

</head>
<body>
    <header>
        <nav class="teal darken-4">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>@Html.ActionLink("Inicio", "Inicio", "Inicio")</li>
                    <li>@Html.ActionLink("Reporte", "SeleccionIntervalo", "Colaborador")</li>
                    <li>@Html.ActionLink("Administrar", "Solicitudes", "Administrador")</li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Login", "Login", "Inicio")</li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <p>@DateTime.Now.Year - Módulo Análisis Estadistico</p>
    </footer>
    <script type="text/javascript" src="~/Scripts/materialize.min.js"></script>
</body>
</html>
